@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html,
body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a,
.btn-link {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.content {
  padding-top: 1.1rem;
}

.valid.modified:not([type='checkbox']) {
  outline: 1px solid #26b050;
}

.invalid {
  outline: 1px solid red;
}

.validation-message {
  color: red;
}

#blazor-error-ui {
  background: lightyellow;
  bottom: 0;
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
  display: none;
  left: 0;
  padding: 0.6rem 1.25rem 0.7rem 1.25rem;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

#blazor-error-ui .dismiss {
  cursor: pointer;
  position: absolute;
  right: 0.75rem;
  top: 0.5rem;
}

.chat {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 90vh;
}
.chat-form {
  display: flex;
  background-color: #ebebeb;
  padding: 2em;
}

.chat-form .inputs {
  display: flex;
  gap: 0.5em;
  flex: 1;
}

.chat-form .inputs .form-group {
  margin: 0 !important;
}

.chat-form .inputs:nth-child(2) {
  width: 100%;
}
.chat-form button {
  outline: transparent;
  border: transparent;
  padding: 0.75em 2em;
  background-color: #fff;
  border-radius: 999px;
}

.chat .messages {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 75vh;
}

.typing-indicators {
  display: flex;
  gap: 1em;
  align-items: center;
  list-style: none !important;
  margin: 1em 0;
  padding: 0;
}

.typing-indicators .indicator {
  margin: 0;
  padding: 1em 4em;
  background-color: #ebebeb;
  border-radius: 999px;
  font-size: 0.75em;
}

.other,
.recipient,
.other ul,
.recipient ul {
  padding: 0;
  margin: 0;
}

.other {
  display: flex;
  flex: 1;
}

.other ul {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  gap: 0.5em;
  list-style: none !important;
}

.other ul li {
  width: 100%;
}

.other ul li span {
  padding: 0.5em 2em;
  background-color: #ebebeb;
  border-radius: 999px;
}

.recipient {
  display: flex;
  justify-content: flex-end;
  flex: 1;
}

.recipient ul {
  display: flex;
  flex-direction: column-reverse;
  gap: 0.5em;
  list-style: none !important;
}

.recipient ul li {
  width: 100%;
}

.recipient ul li span {
  padding: 0.5em 2em;
  background-color: #ebebeb;
  border-radius: 999px;
}
