@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">A Decentralized Web</h1>
    <p class="display-5">A new generation of the web - Web 3.0</p>
    <div class="mt-20">
        <h2>Current Date</h2>
        <p>@DateTime.Now.ToString("h:mm:ss tt")</p>
    </div>
</div>
