.messages {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 75vh;
}

.typing-indicators {
    display: flex;
    gap: 1em;
    align-items: center;
    list-style: none !important;
    margin: 1em 0;
    padding: 0;
}

    .typing-indicators .indicator {
        display: flex;
        align-items: center;
        gap: 2em;
        margin: 0;
        padding: 1em 4em;
        background-color: #ebebeb;
        border-radius: 999px;
        font-size: 0.75em;
    }

.other,
.recipient,
.other ul,
.recipient ul {
    padding: 0;
    margin: 0;
}

.other {
    display: flex;
    flex-direction: column-reverse;
    flex: 1;
}

    .other ul {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        list-style: none !important;
    }

        .other ul li {
            padding: 0.5em 2em;
            width: fit-content;
            background-color: #00aeff;
            color: white;
            border-radius: 999px;
        }

.recipient {
    display: flex;
    flex-direction: column-reverse;
    flex: 1;
}

    .recipient ul {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 0.5em;
        list-style: none !important;
    }

        .recipient ul li {
            padding: 0.5em 2em;
            width: fit-content;
            background-color: #ebebeb;
            border-radius: 999px;
        }

.dot-flashing {
    position: relative;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #00aeff;
    color: #00aeff;
    animation: dotFlashing 1s infinite linear alternate;
    animation-delay: 0.5s;
}

    .dot-flashing::before,
    .dot-flashing::after {
        content: '';
        display: inline-block;
        position: absolute;
        top: 0;
    }

    .dot-flashing::before {
        left: -15px;
        width: 10px;
        height: 10px;
        border-radius: 5px;
        background-color: #00aeff;
        color: #00aeff;
        animation: dotFlashing 1s infinite alternate;
        animation-delay: 0s;
    }

    .dot-flashing::after {
        left: 15px;
        width: 10px;
        height: 10px;
        border-radius: 5px;
        background-color: #00aeff;
        color: #00aeff;
        animation: dotFlashing 1s infinite alternate;
        animation-delay: 1s;
    }

@keyframes dotFlashing {
    0% {
        background-color: #00aeff;
    }

    50%, 100% {
        background-color: #ffffff;
    }
}
